<template>
  <div>
    <div class="container">
      <label for="name"><h1>Crear producto</h1></label>

      <br />
      <label for="name"><h4>Nombre del producto:</h4></label>
      <input
        
        class="form-control"
        type="text"
        id="name"
      />
      <br />
      <br />
      <label for="correo"><h4>Precio:</h4></label>
      <input
        class="form-control"
        type="number"
        id="name"
        
      />
      <label for="name"><h4>Descripción:</h4></label>
      <textarea
        class="form-control"
        type="text"
      />
      <br />
      <br />
      <label for="avatar">Foto del producto: </label>
      <input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/png, image/jpeg"
      />
      <br />
      <br />
    </div>
    <btn-arriba></btn-arriba>
  </div>
</template>

<script>
import BtnArriba from '../components/BtnArriba.vue';
// @ is an alias to /src

export default {
  name: "createproduct-view",
  components: {BtnArriba},
};
</script>

<style scoped>
.container {
  text-align: center;
  align-content: center;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 25px;
  padding: 50px;
}

@media screen and (max-width: 950px){
  h1 {
    font-size: 3.8vw;
  }
  h4 {
    font-size: 2.3vw;
  }
  input{
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 640px){
  .container {
  width: 70%;
  padding: 30px;
}
  h1 {
    font-size: 4.5vw;
  }
  h4 {
    font-size: 2.9vw;
  }
  input{
    font-size: 2.9vw;
  }
}
</style>