<template>
  <div class="">
    <slider></slider>
    <four-products></four-products>
    <h2>Nuestros Productos y artículos</h2>
    <buscador @filtername="setFilterName"></buscador>
    <div class="containerr">
      <div class="left">
        <filter-left
          @filtercategory="setFilterCategory"
          @filtertag="setFilterTag"
          @filterkm="setFilterKm"
          @filterlocation="setFilterLocation"
          @filterprice="setFilterPrice"
        ></filter-left>
      </div>
      <div class="right">
        <Products :articles="articles.data"></Products>
      </div>
    </div>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li v-on:click="getPreviousPage()" class="page-item">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Anterior</span>
            </a>
          </li>
          <li
            v-for="pagina in articles.last_page"
            :key="pagina"
            v-on:click="getDataPagina(pagina)"
            v-bind:class="isActivePage(pagina)"
            class="page-item"
          >
            <a class="page-link">{{ pagina }}</a>
          </li>
          <li v-on:click="getNextPage()" class="page-item">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Siguiente</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <banner-home></banner-home>
    <btn-arriba></btn-arriba>
  </div>
</template>

<script>
// @ is an alias to /src
import Products from "@/components/Products.vue";
import API from "../API";
import Slider from "../components/Slider.vue";
import fourProducts from "../components/fourProducts.vue";
import BannerHome from "../components/BannerHome.vue";
import Buscador from "../components/Buscador.vue";
import BtnArriba from "../components/BtnArriba.vue";
import FilterLeft from "../components/FilterLeft.vue";

//import Btn from "../components/Btn.vue";

export default {
  name: "home-view",
  components: {
    Products,
    Slider,
    fourProducts,
    BannerHome,
    BtnArriba,
    Buscador,
    FilterLeft,
  },
  data() {
    return {
      articles: [],
      actualPage: 1,
      filterCategory: "",
      filterName: "",
      filterTag: "",
      filterKm: "",
      filterMin: "0",
      filterMax: "500",
      lng: "",
      lat: "",
      filtrado: "",
    };
  },
  mounted() {
    this.seeArticles();
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
    filtro() {
      this.cadenaFiltrado("email", localStorage.user);

      this.cadenaFiltrado("id", this.filterCategory);

      if (this.filterName) {
        this.cadenaFiltrado("name", this.filterName);
      }

      if (this.filterTag) {
        this.cadenaFiltrado("tag", this.filterTag);
      }

      if (this.filterMin, this.filterMax) {
        this.cadenaFiltrado("min", this.filterMin)
        this.cadenaFiltrado("max", this.filterMax)
      }

      if (this.filterKm, this.lat, this.lat, this.lng) {
        this.cadenaFiltrado("km", this.filterKm);
        this.cadenaFiltrado("lat", this.lat);
        this.cadenaFiltrado("lng", this.lng);
      }

      return this.filtrado;
    },
  },
  methods: {
    setFilterKm(km) {
      this.filterKm = km;
      this.seeArticles();
    },
    setFilterName(name) {
      this.filterName = name;
      this.seeArticles();
    },
    setFilterCategory(id) {
      this.filterCategory = id;
      this.seeArticles();
    },
    setFilterTag(id) {
      this.filterTag = id;
      this.seeArticles();
    },
    setFilterLocation(center) {
      this.lat = center.lat;
      this.lng = center.lng;
      this.seeArticles();
    },
    setFilterPrice(price) {
      this.filterMin = price.min
      this.filterMax = price.max
      this.seeArticles();
    },
    cadenaFiltrado(key, value) {
      this.filtrado += key + "=" + value + "&";
    },
    seeArticles() {
      this.filtrado = "";
      API.articles
        .getAll(this.actualPage, this.filtro)
        .then((response) => (this.articles = response.data))
        .catch((err) => alert(err));
    },
    getDataPagina(pagina) {
      this.actualPage = pagina;
      this.seeArticles();
    },
    getPreviousPage() {
      if (this.actualPage > 1) {
        this.actualPage--;
      }
      this.seeArticles();
    },
    getNextPage() {
      if (this.actualPage < this.articles.last_page) {
        this.actualPage++;
      }
      this.seeArticles();
    },
    isActivePage(page) {
      if (page == this.actualPage) {
        return "active";
      }
    },
  },
};
</script>
<style scoped>
.class_buttons {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 0px 10px;
}
.button {
  padding: 10px;
}
.containerr {
  width: 100%;
  display: flex;
}
h2 {
  text-align: center;
  margin-bottom: 3%;
}
.row {
  padding: 0px 30%;
}
.left {
  width: 20%;
  margin-top: 10px;
  border-radius: 0px 25px 25px 0px;
  padding: 20px 1% 20px 0%;
}
.right {
  width: 80%;
  padding-right: 4%;
  padding-left: 4%;
}
/* Móvil */
@media screen and (min-width: 450px) and (max-width: 767px) {
  .row {
    padding: 0px 15%;
  }
  .left {
    width: 30%;
  }
  .right {
    width: 70%;
  }
}
.row {
  padding: 0px 30%;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .row {
    padding: 0px 20%;
  }
}

/* Responsive muy pequeño */
@media screen and (max-width: 459px) {
  .row {
    padding: 0px 10%;
  }
  .left {
    width: 100%;
  }
  .containerr {
    display: block;
  }
  .right {
    width: 100%;
  }
}

/* Móvil muy pequeño */
@media screen and (max-width: 459px) {
}

/* Móvil */
@media screen and (min-width: 460px) and (max-width: 767px) {
}
</style>