<template>
  <div>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form @submit.prevent="createAcount">
          <h1>Crear Cuenta</h1>
          <div class="loginCampos">
            <input type="text" placeholder="Name" v-model="createName" />
            <input type="email" placeholder="Email" v-model="createEmail" />
            <input
              type="password"
              placeholder="Password"
              v-model="ceratePassword"
            />
          </div>
          <button>Registrarse</button>
          <br />
          <div class="alert alert-danger" v-show="errReg">
            {{ error_msg_Reg }}
          </div>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form @submit.prevent="login">
          <h1>Iniciar sesión</h1>
          <div class="loginCampos">
            <input type="email" placeholder="Email" v-model="email"/>
            <input type="password" placeholder="Password" v-model="password" />
          </div>
          <button>Iniciar sesión</button>
          <a class="loginregister"
              ><router-link to="/register">O si aún no tienes cuenta, REGÍSTRATE aquí.</router-link></a
            >
          <br />
          <div class="alert alert-danger" v-show="err">
            {{ error_msg }}
          </div>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Bienvenido de nuevo!</h1>
            <p>
              Para mantenernos en contacto, por favor, inicia sesión con tus
              datos.
            </p>

            <button class="ghost" id="signIn">Iniciar sesión</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Bienvenid@!</h1>
            <p>Inserta tus datos personales y empieza a comprar con nosotros</p>
            <button class="ghost" id="signUp">Registrarse</button>
          </div>
        </div>
      </div>
    </div>
    <btn-arriba></btn-arriba>
  </div>
</template>

<script>
import BtnArriba from '../components/BtnArriba.vue';
import api from "../API";
export default {
  name: "Login",
  components: {BtnArriba},
  data() {
    return {
      email: "",
      password: "",
      createName: "",
      createEmail: "",
      createPassword: "",
      err: false,
      errReg: false,
      error_msg: "",
      error_msg_Reg: ""
    };
  },

  mounted() {
    const signUpButton = document.getElementById("signUp");
    const signInButton = document.getElementById("signIn");
    const container = document.getElementById("container");

    signUpButton.addEventListener("click", () => {
      container.classList.add("right-panel-active");
    });

    signInButton.addEventListener("click", () => {
      container.classList.remove("right-panel-active");
    });
  },
  methods: {
    login() {
      let json = {
        email: this.email,
        password: this.password,
      };
      api.users
        .login(json)
        .then((data) => {
          this.$store.commit('setUser', {token: data.data.token , email: this.email})
          this.$router.push("/");
        })
        .catch((err) => {
          this.err = true;
          this.error_msg = err.response.data.err.toString();
        });
    },
    createAcount() {
      let json = {
        name: this.createName,
        email: this.createEmail,
        password: this.createPassword,
      };
      api.users
        .create(json)
        .then((data) => {
          this.$store.commit('setUser', {token: data.data.token , email: this.createEmail})
          this.$router.push("/");
        })
        .catch((err) => {
          console.log(err.response.data.err);
          this.errReg = true;
          this.error_msg_Reg = "Las credenciales no son validas"
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  box-sizing: border-box;
}

.linkregister {
  display: none;
}
body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 60%;
  max-width: 100%;
  min-height: 480px;
  margin-bottom: 100px;
  margin-top: 60px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

#container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

#container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

#container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

#container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

#container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

.loginCampos {
  margin: 20px 0px 20px 0px;
}

/* Móvil */
@media screen and (min-width: 350px) and (max-width: 640px) {
  #container {
    width: 85%;
  }
  .overlay-container {
    display: none;
  }
  .sign-up-container {
    width: 100%;
  }
  .sign-in-container {
    width: 100%;
  }
  .linkregister {
    display: block;
  }
}

/* Tablet */
@media screen and (min-width: 641px) and (max-width: 1280px) {
  #container {
    width: 80%;
  }
}

/* Responsive muy pequeño */
@media screen and (max-width: 349px) {
  #container {
    width: 85%;
  }
  .linkregister {
    display: block;
  }
  h1 {
    font-size: 22px;
  }
  button {
    font-size: 13px;
  }
  .overlay-container {
    display: none;
  }
  .sign-up-container {
    width: 100%;
  }
  .sign-in-container {
    width: 100%;
  }
  button{
      padding: 9px 25px;
  }
}
</style>
