<template>
  <div>
    <div class="container">
      <label for="administrar"><h3>Tus productos:</h3></label>
      <div class="row d-flex justify-content-center">
        <product class="col-6"
          v-for="article in articles"
          :key="article.id"
          :article="article"
        ></product>
      </div>
    </div>
    <btn-arriba></btn-arriba>
  </div>
</template>

<script>
import API from "../API";
import BtnArriba from "../components/BtnArriba.vue";
import Product from "../components/Product.vue";
// @ is an alias to /src

export default {
  name: "perfil-view",
  components: { BtnArriba, Product },
  data() {
    return {
      articles: [],
    };
  },
  mounted() {
    this.articlesUser();
  },
  methods: {
    articlesUser() {
      API.users
        .getArticles(this.$store.state.userEmail)
        .then((response) => {
          this.articles = response.data;
        })
        .catch((error) => alert(error));
    },
  },
};
</script>

<style scoped>
.container {
  text-align: center;
  align-content: center;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 25px;
  padding: 50px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media screen and (max-width: 950px) {
  h3 {
    font-size: 2.3vw;
  }
  input {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 70%;
    padding: 30px;
  }

  h3 {
    font-size: 2.9vw;
  }
  input {
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 380px) {
  img {
    width: 90px !important;
    height: 90px !important;
  }
  h3 {
    font-size: 4.3vw;
  }
  input {
    font-size: 4.3vw;
  }
}
</style>