<template>
  <div>
    <product-info :article="article"></product-info>
    <comments :articleId="id"></comments>
    <btn-arriba></btn-arriba>
  </div>
</template>

<script>
import BtnArriba from '../components/BtnArriba.vue';
import Comments from '../components/Comments.vue';
import ProductInfo from "../components/ProductInfo.vue";
import API from "../API"
export default {
  components: { ProductInfo, Comments, BtnArriba },
  name: "productdetails-view",
  data() {
    return {
      article: []
    }
  },
  props: ['id','category_id'],
  mounted() {
    this.findArticle()
  },
  methods: {
    findArticle() {
      API.articles.getOne(this.id)
      .then((response) => this.article = response.data)
      .catch((err) => alert(err))
    }
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
