<template>
  <div class="container">
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(uploadProduct)" novalidate>
        <fieldset>
          <div class="form-group">
            <ValidationProvider
              rules="required|min:5|max:80"
              v-slot="{ errors }"
              name="nombre"
            >
              <label for=""><h4>Nombre Articulo</h4></label>
              <input type="text" class="form-control" v-model="name" />
              <div class="my-2 text-danger">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>
          <div class="form-group">
            <ValidationProvider
              rules="required"
              v-slot="{ errors }"
              name="descripcion"
            >
              <label for=""><h4>Descripción:</h4></label>
              <input type="text" class="form-control" v-model="descripton" />
              <div class="my-2 text-danger">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>
          <div class="form-group">
            <ValidationProvider
              rules="required|numeric|min:0"
              v-slot="{ errors }"
              name="precio"
            >
              <label for=""><h4>Precio:</h4></label>
              <input
                type="number"
                min="0"
                class="form-control"
                v-model="price"
              />
              <div class="my-2 text-danger">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>
          <div class="form-group">
            <ValidationProvider
              rules="required"
              v-slot="{ errors }"
              name="categoria"
            >
              <label for=""><h4>Categoria</h4></label>
              <select class="form-control" v-model="category">
                <option
                  v-for="categoryOp in categories"
                  :key="categoryOp.id"
                  :value="categoryOp.id"
                  :categoryOp="categoryOp"
                >
                  {{ categoryOp.name }}
                </option>
              </select>
              <div class="my-2 text-danger">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>
          <div class="form-group">
            <ValidationProvider
              rules="required"
              v-slot="{ errors }"
              name="tags"
            >
              <label class=""><h4>Tags</h4></label>
              <multiselect
                v-model="tags"
                tag-placeholder="Add this as new tag"
                placeholder="Search or add a tag"
                label="name"
                track-by="id"
                :searchable="true"
                :options="options"
                :multiple="true"
                :taggable="false"
                @tag="addTag"
              ></multiselect>
              <div class="my-2 text-danger">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>
          <div class="form-group">
            <ValidationProvider
              rules="required"
              v-slot="{ errors }"
              name="location"
            >
              <div class="row">
                <label class=""><h4>Localizacion</h4></label>
                <input type="hidden" v-model="location" />
                <GoogleMap :title="'Titulo Marcador'" @location="addLocation" />
              </div>
              <div class="my-2 text-danger">{{ errors[0] }}</div>
            </ValidationProvider>
          </div>
          <br />
          <button class="button">Enviar</button>
        </fieldset>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import API from "../API";
import GoogleMap from "../components/GoogleMap";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { extend } from "vee-validate";
import { required, min, max, numeric } from "vee-validate/dist/rules";
import { localize } from "vee-validate";
import es from "vee-validate/dist/locale/es.json";
import Swal from "sweetalert2";

localize("es", es);
extend("required", required);
extend("min", min);
extend("max", max);
extend("numeric", numeric);
// register globally

export default {
  components: {
    Multiselect,
    GoogleMap,
    ValidationProvider,
    ValidationObserver,
  },
  name: "form-upload",
  data() {
    return {
      name: "",
      descripton: "",
      price: "",
      category: "",
      location: {},
      tags: [],
      options: [],
      categories: [],
    };
  },
  mounted() {
    this.cargarTags();
    this.cargarCategories();
  },
  methods: {
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      };
      this.options.push(tag);
      this.tags.push(tag);
    },
    cargarTags() {
      API.tags
        .getAll()
        .then((data) => (this.options = data.data))
        .catch((error) => alert(error));
    },
    cargarCategories() {
      API.categories
        .getAll()
        .then((data) => (this.categories = data.data))
        .catch((error) => alert(error));
    },
    addLocation(data) {
      this.location = data;
    },
    uploadProduct() {
      let json = {
        name: this.name,
        description: this.descripton,
        price: this.price,
        category: this.category,
        location: this.location,
        email: localStorage.user,
        tags: this.tags,
      };
      API.articles
        .create(json)
        .then((data) => {
          console.log(data);
          Swal.fire({
            icon: "success",
            title: "Producto guardado con exito",
            showConfirmButton: false,
            timer: 2500,
          });
          this.$router.push("/");
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  text-align: center;
  align-content: center;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 25px;
  padding: 50px;
}
h4 {
  margin-top: 3%;
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 3.8vw;
  }
  h4 {
    font-size: 2.3vw;
  }
  input {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 640px) {
  .container {
    width: 70%;
    padding: 30px;
  }
  h1 {
    font-size: 4.5vw;
  }
  h4 {
    font-size: 2.9vw;
  }
  input {
    font-size: 2.9vw;
  }
}

.button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>