<template>
  <div>
    <div class="container">
      <label for="name"
        ><p>
          Usuario. Aquí podrás ver tu información, las estrellas que mantienes y
          las valoraciones.
        </p></label
      >
      <div class="be-img-comment">
        <a>
          <img src="../assets/img-1.jpg" alt="" class="be-ava-comment" />
        </a>
      </div>
      <br />
      <label for="name"><h3>Nombre de usuario:</h3></label>
      <input
        disabled
        class="form-control"
        type="text"
        id="name"
        v-model="user.name"

      />
      <br />
      <br />
      <label for="correo"><h3>Correo del usuario:</h3></label>
      <input
        class="form-control"
        type="text"
        id="name"
        v-model="user.email"
        disabled
      />
      <br />
      <br />
      <label for="estrellas"><h3>Tus estrellas:</h3></label>
      <estrellas :stars="user.rate"></estrellas>
      <br />
      <br />
      <label for="valoraciones"
        ><h3>Tus valoraciones:</h3>
        <valuation
          v-for="(valuation, index) in user.rates"
          :key="index"
          :valuation="valuation"
        ></valuation>
        
      </label>

    </div>
  </div>
</template>

<script>
import Estrellas from "../components/Estrellas.vue";
import api from "../API";
import Valuation from "../components/Valuation.vue";

// @ is an alias to /src

export default {
  name: "usuario-view",
  components: { Estrellas, Valuation },
  data() {
    return {
      user: {},
    };
  },
  mounted() {
    this.getUserInfo();
  },
  methods: {
    getUserInfo() {
      api.users
        .getOne(localStorage.user)
        .then((response) => {
          this.user = response.data.user;
        })
        .catch((error) => alert(error));
    },
  },

};
</script>

<style scoped>
.container {
  text-align: center;
  align-content: center;
  width: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 25px;
  padding: 50px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


@media screen and (max-width: 950px){
 
  h3{
    font-size: 2.3vw;
  }
  input{
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 800px){
  .container {
  width: 70%;
  padding: 30px;
}

  h3 {
    font-size: 2.9vw;
  }
  input{
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 380px){
  img{
  width: 90px!important;
  height: 90px!important;
  }
  h3 {
    font-size: 4.3vw;
  }
  input{
    font-size: 4.3vw;
  }
}
</style>