<template>
  <div>

    <form method="get">
    <input type="search" v-model="filterName">
    <button type="submit" @click.prevent="seeArticles()"  class="btn btn-default btn-primary">Buscar</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Register",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
