<template>

  <div>
    <div class="dj-banner">
      <div class="dj-bg">
        <div class="dj-text">
          <div style="flex1">
            <h1><b>Nuevo producto</b></h1>
            <p>
              Robot de cocina barato y con un 40% de descuento con el codigo:
              BATOIPOP.
            </p>
            <img class="imgproductMovil" src="../assets/productos/reloj.jpg" />
            <router-link to="/product-details/"
              ><btn class="button" name="Ver Producto >>"></btn
            ></router-link>
          </div>
          <div style="flex2">
            <img class="imgproduct" src="../assets/productos/reloj.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from "./Btn.vue";
export default {
  components: { Btn },
  name: "bannerhome-component",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  padding-top: 50px;
}
.dj-banner {
  height: auto;
  background: rgb(238, 238, 238);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.096);
  margin: 100px 0px 100px 0px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.dj-banner .dj-bg {
  padding-left: 20%;
  padding-right: 20%;
}
.dj-banner .dj-bg img {
  border-radius: 20%;
  width: 90%;
  margin-left: 20%;
}
.dj-banner .dj-text {
  display: flex;
}
.flex2 {
  padding-left: 50px;
}
.imgproductMovil {
  display: none;
}
@media screen and (max-width: 1000px) {
  h1 {
    padding-top: 20px;
    font-size: 30px;
    text-align: center !important;
  }
  .button {
    text-align: center;
  }
  p {
    text-align: center !important;
    font-size: 14px !important;
  }
  img {
    width: 100% !important;
  }
  .imgproductMovil {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100% !important;
    display: block;
  }
  .imgproduct {
    display: none !important;
  }
  .dj-banner .dj-bg img {
    margin-left: 0px !important;
  }
}
</style>