<template>
  <div>
    <button class="button-62" role="button">{{ name }}</button>
  </div>
</template>

<script>
export default {
  name: "button-component",
  props: ["name"],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* CSS */
.button-62 {
  background: linear-gradient(to right, #d33d23, #ce3458);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {

  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #d33d23,
    0.125rem 0.125rem 1rem #ce3458;
}

.button-62:not([disabled]):hover {

  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5), -0.125rem -0.125rem 1rem #d33d23,
    0.125rem 0.125rem 1rem #ce3458;
}
/* Responsive muy pequeño */
@media screen and (max-width: 500px) {
  .button-62 {
    font-size: 5vw;
  }
}
</style>
