<template>
  <div>
    <button id="HTMLButton">^</button>
  </div>
</template>

<script>
export default {
  name: "btnarriba-component",
  mounted() {
    //guardamos btn en variable
    var myJSButton = document.getElementById("HTMLButton");
    window.onscroll = function () {
      if (window.pageYOffset <= 300) {
        //ocultamos el btn
        myJSButton.style.display = "none";
      } else {
        //mostramos el btn
        myJSButton.style.display = "block";
      }
      myJSButton.onclick = function () {
        scrollTo(0, 0); //hacemos scroll arriba (a esas coordenadas)
      };
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

#HTMLButton {
  padding: 10px;
  bottom: 100px;
  right: 0px;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 5px 0px 0px 5px;
  font-size: 24px;
  border-color: black rgba(0, 0, 0, 0.459) black black;
}
@media screen and (max-width: 640px) {
#HTMLButton {
  font-size: 20px;
}
}
</style>
