<template>
  <div class="buscador">
    <form method="get">
      <input
        class="search"
        type="search"
        v-model="filterName"
        placeholder="Buscar"
      />
      <button
        type="submit" @click.prevent="sendName"
        class="btn btn-default btn-primary"
      >
        Buscar
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: "buscador-componente",

  methods: {
    sendName() {
      this.$emit("filtername", this.filterName)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  background: linear-gradient(to right, #d33d23, #ce3458);
  margin-left: 10px;
  height: 40px;
}
.btn-primary {
  border-color: rgba(0, 0, 0, 0.247);
}
.btn-primary:hover {
  background: linear-gradient(to right, #a3301b, #9e2642);
  border-color: rgba(0, 0, 0, 0.247);
}
.buscador {
  text-align: right;
  background: rgb(238, 238, 238);
  width: 100%;
  padding: 20px;
  margin-bottom: 80px;
}
.search {
  padding: 2px 15px;
  height: 40px;
}
</style>
