<template>
  <div>
    <div class="be-img-comment">
      <a>
        <img src="../assets/slider1.jpg" alt="" class="be-ava-comment" />
      </a>
    </div>
    <div class="be-comment-content">
      <span class="be-comment-name">
        <a>{{ message.sender_id }}</a>
      </span>
      <span class="be-comment-time">
        <i class="fa fa-clock-o"></i>
        {{ message.created_at }}
      </span>

      <div class="row be-comment-text">
        <p>
          {{ message.message }}
        </p>
        <div class="text-end">
          <a @click="reportComment"
            ><i class="fa fa-exclamation-triangle report"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import API from "../API";
export default {
  name: "messages",
  props: ["message"],
  methods: {
    reportComment() {
      this.$prompt("Razón del reporte:").then((text) => {
        let json = {
          message: text,
          message_id: this.message.message_id,
          email: localStorage.user,
        };
        API.reports
          .createComment(json)
          .then(() => {
            this.$alert("Reporte realizado con exito", "", "success");
          })
          .catch((error) => {
            this.$alert(error.response.data.err, "", "error");
          });
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  margin-top: 20px;
  background-color: #e9ebee;
}

.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  padding: 50px 70px;
  border: 1px solid #ffffff;
}

.comments-title {
  font-size: 18px;
  color: #262626;
  margin-bottom: 15px;
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #424242;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
  position: absolute;
  top: 1px;
  left: 16px;
  width: 48px;
  height: 48px;
  background: #f6f6f7;
  color: #b5b8c2;
  text-align: center;
  line-height: 50px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.form-group .form-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  margin: 6px;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
}

.form-group.fl_icon .form-input {
  padding-left: 70px;
}

.form-group textarea.form-input {
  height: 150px;
}

.submitbtn {
  background: linear-gradient(to right, #d33d23, #ce3458);
  border: none;
  font-weight: bold;
}
.submitbtn:active {
  background: linear-gradient(to right, #a7311c, #a12945);
}
.exclamation {
  fill: rgb(179, 71, 0);
  width: 15px;
  margin-left: 5px;

  cursor: pointer;
}
.exclamation:hover {
  fill: rgb(112, 45, 0);
}
.report {
  color: rgb(223, 67, 67);
  width: 15%;
  cursor: pointer;
}
</style>
