<template>
  <div>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <body>
      <div class="fichas-listado-v2">
        <div class="voto">
          <div class="voto-estrellas">
            <i v-for="(star,index) in 5-stars" :key=index class="fa fa-star-o"></i>
            <i v-for="(star,index) in stars" :key=index class="fa fa-star"></i>
          </div>
        </div>
      </div>
    </body>
  </div>
</template>

<script>
export default {
  name: "estrellas-component",
  props: ['stars'],

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fichas-listado-v2 .voto .voto-estrellas {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.fichas-listado-v2 .voto .voto-estrellas i {
  font-size: 13px;
  padding-right: 3px;
  color: #c0c0c0;
}

</style>
