<template>
  <div class="seccionkm">
    <p>Distancia máxima:</p>
    <form method="get">
    <google-map @location="sendLocation"></google-map>
    <br />
    <div class="slidecontainer">
      <input
        type="range"
        min="1"
        max="100"
        v-model="filterKm"
        step="1"
        class="slider"
        id="myRange"
      />
      <p><span id="demo"></span> km</p>
    </div>
    <button
      type="submit"
      @click.prevent="sendKm"
      class="btn btn-default btn-primary"
    >
      Filtrar
    </button>
    </form>
  </div>
</template>

<script>
import GoogleMap from "./GoogleMap.vue";
export default {
  name: "filterkm-component",
  components: {
    GoogleMap,
  },
  data() {
    return {
      filterKm: "1",
      center: { lat: 45.508, lng: -73.587 },
    };
  },
  methods: {
    sendLocation(center) {
      this.$emit('location', center)
    },
    sendKm() {
      this.$emit("filterkm", this.filterKm);
    },
  },
  mounted() {
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
      output.innerHTML = this.value;
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.slidecontainer {
  width: 100%;
}
.seccionkm {
  margin-top: 30px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}
</style>
