<template>
  <div class="filterr">
    <p>Rango de precio:</p>
    <form method="get">
    <div class="wrapper">
      <fieldset class="filter-price">
        <div class="price-field">
          <input type="range" min="0" max="500" v-model="filterMin" id="lower" />
          <input type="range" min="0" max="500" v-model="filterMax" id="upper" />
        </div>
        <div class="price-wrap">
          <div class="price-container">
            <div class="price-wrap-1">
              <label for="one">$</label>
              <input id="one" />
            </div>
            <div class="price-wrap_line">-</div>
            <div class="price-wrap-2">
              <label for="two">$</label>
              <input id="two" />
            </div>
          </div>
          <button @click.prevent="sendPrice" class="price-title">FILTRAR</button>
        </div>
      </fieldset>
      </div>
      </form>
    </div>
</template>

<script>
export default {
  name: "filterrange-component",
  data() {
    return {
      price: {},
      filterMin: "0", 
      filterMax: "500"
    }
  },
  methods: {
    sendPrice() {
      this.$emit('filterprice', this.price={ min: this.filterMin, max: this.filterMax})
    }
  },
  mounted() {
    var lowerSlider = document.querySelector("#lower");
    var upperSlider = document.querySelector("#upper");

    document.querySelector("#two").value = upperSlider.value;
    document.querySelector("#one").value = lowerSlider.value;

    var lowerVal = parseInt(lowerSlider.value);
    var upperVal = parseInt(upperSlider.value);

    upperSlider.oninput = function () {
      lowerVal = parseInt(lowerSlider.value);
      upperVal = parseInt(upperSlider.value);

      if (upperVal < lowerVal + 4) {
        lowerSlider.value = upperVal - 4;
        if (lowerVal == lowerSlider.min) {
          upperSlider.value = 4;
        }
      }
      document.querySelector("#two").value = this.value;
    };

    lowerSlider.oninput = function () {
      lowerVal = parseInt(lowerSlider.value);
      upperVal = parseInt(upperSlider.value);
      if (lowerVal > upperVal - 4) {
        upperSlider.value = lowerVal + 4;
        if (upperVal == upperSlider.max) {
          lowerSlider.value = parseInt(upperSlider.max) - 4;
        }
      }
      document.querySelector("#one").value = this.value;
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  font-weight: 500;
}
.filterr {
  padding-top: 50px;
}
p {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-price {
  width: 90%;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  background: #000000ee;
  padding: 10px;
}

.price-container {
  display: flex;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 10%;
  width: 100%;
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
}

.price-field input[type="range"] {
  position: absolute;
}

/* Reset style for input range */

.price-field input[type="range"] {
  width: 100%;
  height: 7px;

  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type="range"]:active,
.price-field input[type="range"]:focus {
  outline: 0;
}

.price-field input[type="range"]::-ms-track {
  width: 188px;
  height: 2px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: red;
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type="range"]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: rgb(24, 24, 24);
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type="range"]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type="range"]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #242424;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type="range"]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #555;
  border-radius: 5px;
}

.price-field input[type="range"]::-moz-range-track {
  /* Firefox */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

.price-field input[type="range"]::-ms-track {
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
  display: flex;
  color: #242424;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0px;
}

.price-wrap-1,
.price-wrap-2 {
  display: flex;
  margin-left: 0px;
}

.price-title {
  margin-right: 5px;
}

.price-wrap_line {
  margin: 6px 0px 5px 5px;
}

.price-wrap #one,
.price-wrap #two {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background: 0;
  border: 0;
  outline: 0;
  color: #242424;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-wrap label {
  text-align: right;
  margin-top: 6px;
  padding-left: 5px;
}

/* Style for active state input */

.price-field input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

.price-field input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

/* Móvil */
@media screen and (max-width: 459px) {
  .price-wrap {
    display: inline-block;
  }
  .price-container {
    margin-bottom: 15px;
    margin-left: 0px;
  }
}
/* Móvil */
@media screen and (min-width: 460px) and (max-width: 767px) {
  .price-wrap {
    display: inline-block;
  }
  button {
    margin-left: 10px;
  }
  .price-container {
    margin-bottom: 15px;
    margin-left: 0px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .price-wrap {
    display: inline-block;
  }
  .price-container {
    margin-bottom: 15px;
    margin-left: 0px;
  }
}
</style>
