<template>
  <div class="filter">
    <h3>Filtrar</h3>
    
    <p>Categorías ({{categories.length}})</p>
    <div class="my-1">
      <select name="form-select-web cars" id="cars"
            v-model="filterCategory"
            class="form-control searchbox-input"
            @change="sendCategory"
          >
            <option :selected="true" value="">--- TODAS ---</option>
            <option v-for="category in categories" :key="category.id" :value="category.id">
              {{ category.name }}
            </option>
          </select>
      <filter-range @filterprice="sendPrice"></filter-range>
      <filter-k-m @filterkm="sendKm" @location="sendLocation"></filter-k-m>
    </div>
    <p>Tags ({{tags.length}})</p>
    <div class="my-1">
      <select name="form-select-web cars" id="cars"
            v-model="filterTag"
            class="form-control searchbox-input"
            @change="sendTag"
          >
            <option :selected="true" value="">--- TODAS ---</option>
            <option v-for="tag in tags" :key="tag.id" :value="tag.id">
              {{ tag.name }}
            </option>
          </select>
    </div>
  </div>
</template>

<script>
import FilterKM from './FilterKM.vue';
import FilterRange from "./FilterRange.vue";
export default {
  components: { FilterRange, FilterKM },
  name: "filterleft-component",
  data() {
    return {
      filterCategory: "",
      filterTag: "",
    }
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
    tags() {
      return this.$store.state.tags;
    }
  },
  methods: {
      sendCategory() {
        this.$emit("filtercategory", this.filterCategory)
      },
      sendTag() {
        this.$emit("filtertag", this.filterTag)
      },
      sendKm(km) {
        this.$emit("filterkm", km)
      },
      sendLocation(location) {
        this.$emit("filterlocation", location)
      },
      sendPrice(price) {
        this.$emit("filterprice", price)
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p{
  margin-top: 30px;
}
.filter {
  border-radius: 0px 25px 25px 0px;
  background: rgb(238, 238, 238);
  box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 10%);
  padding: 20px 3% 20px 3%;
}
select {
  height: 50px;
  border-radius: 8px;
  width: 100%;
}

/* Móvil muy pequeño */
@media screen and (max-width: 459px) {
  .filter {
    border-radius: 0px;
  }
}

/* Móvil */
@media screen and (min-width: 350px) and (max-width: 767px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
}
</style>
