<template>
  <div>
    <form class="form-block" @submit.prevent="uploadComment">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <textarea
              class="form-input"
              required
              placeholder="Tu texto"
              v-model="message"
            ></textarea>
          </div>
        </div>
        <button
          :disabled="!$store.getters.isToken"
          class="submitbtn btn btn-primary pull-right"
        >
          ENVIAR
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import API from "../API";
export default {
  name: "form-comment",
  props: ["articleId"],
  data() {
    return {
      message: "",
    };
  },
  methods: {
    uploadComment() {
      let json = {
        sender: localStorage.user,
        article_id: this.articleId,
        message: this.message,
      };
      API.messages
        .create(json)
        .then(() => this.$router.go(0))
        .catch((error) => alert(error));
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  margin-top: 20px;
  background-color: #e9ebee;
}

.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  padding: 50px 70px;
  border: 1px solid #ffffff;
}

.comments-title {
  font-size: 18px;
  color: #262626;
  margin-bottom: 15px;
}

.form-group.fl_icon .icon {
  position: absolute;
  top: 1px;
  left: 16px;
  width: 48px;
  height: 48px;
  background: #f6f6f7;
  color: #b5b8c2;
  text-align: center;
  line-height: 50px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.form-group .form-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  margin: 6px;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
}

.form-group.fl_icon .form-input {
  padding-left: 70px;
}

.form-group textarea.form-input {
  height: 150px;
}

.submitbtn {
  background: linear-gradient(to right, #d33d23, #ce3458);
  border: none;
  font-weight: bold;
}
.submitbtn:active {
  background: linear-gradient(to right, #a7311c, #a12945);
}
</style>
