<template>
  <div >
    <div class="offer">
      <h1>Productos en OFERTA!!💥</h1>
      <br />
      <p>Aprovecha el momento y compra tus prendas favoritas.</p>
    </div>
    <div class="row d-flex justify-content-center">
      <product class="col"></product>
      <product class="col"></product>
      <product class="col"></product>
      <product class="col"></product>
    </div>
  </div>
</template>

<script>
import Product from "./Product.vue";
export default {
  components: { Product },
  name: "fourproducts-component",
  // Creating methods
  methods: {
    // Creating function
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.offer {
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}
p {
  margin-top: -40px;
  font-size: 28px;
}


</style>
