<template>
  <div>
    <!-- FOOTER -->
    <footer class="containerFooter">
      <div class="container py-5">
        <div class="row py-4">
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <img
              class="imgLogo"
              src="../assets/logobp.png"
              href="/"
              alt="Logo BatoiPOP"
            />
            <p class="font-italic">
              Un gran chiste: <br />- Buenos días, me gustaría alquilar "Batman
              Forever".<br />- No es posible, tiene que devolverla tomorrow.
            </p>
            <ul>
              <li class="list-inline-item">
                <a href="#" target="_blank" title="vimeo"
                  ><i class="fa fa-vimeo"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="roww col-lg-2 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold">Tienda</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2">
                <a href="#" class="">Para Mujer</a>
              </li>
              <li class="mb-2">
                <a href="#" class="">Para Hombre</a>
              </li>
              <li class="mb-2"><a href="#" class="">Stores</a></li>
            </ul>
          </div>
          <div class="roww col-lg-2 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold">Empresa</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="">Login</a></li>
              <li class="mb-2"><a href="#" class="">Registro</a></li>
              <li class="mb-2">
                <a href="#" class="">Sobre Nosotros</a>
              </li>
              <li class="mb-2"><a href="#" class="">Contacto</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold">ProjecteIntegrador</h6>
            <p class="">
              Esta aplicación web es como Wallapop pero mejor porque lo digo yo.
              Además, nuestros productos son lo que más se llevan actualmente.
            </p>
            <div>
              <div class="input-group">
                <input
                  type="email"
                  placeholder="Enter your email address"
                  aria-describedby="button-addon1"
                  class="form-control border-0 shadow-0"
                />
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyrights -->
      <div class="copyrights">
        <div class="container text-center">
          <p class="mb-0 py-2">© 2022 Projecte integrador Batoi.</p>
        </div>
      </div>
    </footer>
    <!-- End -->
  </div>
</template>

<script>
export default {
  name: "footer-component",
};
</script>


<style scoped>

.font-weight-bold {
  color: rgb(255, 255, 255);
  padding-top: 10px;
}
.row {
  margin-top: 20px;
  margin-bottom: -30px;
}
i {
  color: #000000;
}
p {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.copyrights {
  background-color: rgba(0, 0, 0, 0.199);
}
.containerFooter {
  background: linear-gradient(to right, #d33d23, #ce3458);
}

/* Responsive muy pequeño */
@media screen and (max-width: 349px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .imgLogo {
    width: 150px;
  }
  .roww {
    margin-bottom: 20px;
  }
}

/* Móvil */
@media screen and (min-width: 350px) and (max-width: 767px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .imgLogo {
    width: 200px;
  }
  .roww {
    margin-bottom: 20px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .imgLogo {
    width: 200px;
  }
}
</style>