<template>
  <div>
    <div id="navbar">
      <body>
        <section>
          <div class="header">
            <div class="container">
              <a class="navbar-brand logo" href="/"
                ><img
                  class="imglogo"
                  src="../assets/logobp2.png"
                  alt="Logo BatoiPOP"
              /></a>
              <div class="menu" v-show="isLoged">
                <ul>
                  <li class="active">
                    <a><router-link to="/">Home</router-link></a>
                  </li>
                  <li>
                    <a><router-link to="/usuario">Usuario</router-link></a>
                  </li>
                  <li>
                    <a><router-link to="/products">Productos</router-link></a>
                  </li>
                  <li>
                    <a
                      ><router-link to="/upload"
                        >Subir Artículo
                      </router-link></a
                    >
                  </li>

                  <li v-show="!isLoged">
                    <a>
                      <router-link to="/login">
                        <btn class="button" name="Login"></btn>
                      </router-link>
                    </a>
                  </li>
                  <li v-show="isLoged" @click="logout()">
                    <a href="/">
                      <btn class="button" name="Logout"></btn>
                    </a>
                  </li>
                  <li v-show="!isLoged">
                    <a>
                      <router-link to="/register">
                        <btn class="button" name="Register"></btn>
                      </router-link>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </body>
    </div>
    <div class="hamburguermenu">
      <!-- Simulate a smartphone / tablet -->
      <div class="mobile-container">
        <!-- Top Navigation Menu -->
        <div class="topnav">
          <a href="/" class="active"
            ><img
              class="imglogo"
              src="../assets/logobp2.png"
              alt="Logo BatoiPOP"
          /></a>

          <div id="myLinks">
            <a><router-link to="/">Home</router-link></a>
            <a><router-link to="/usuario">Usuario</router-link></a>
            <a><router-link to="/products">Productos</router-link></a>
            <a class="loginregister" v-show="!isLoged">
              <router-link to="/login">Login</router-link>
            </a>
            <a class="loginregister" href="/" @click="logout()" v-show="isLoged">
              Logout
            </a>
            <a class="loginregister" v-show="!isLoged">
              <router-link to="/register">Register</router-link>
            </a>
          </div>
          <a href="javascript:void(0);" class="icon" @click="myFunction()" v-show="isLoged">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Btn from "./Btn.vue";
export default {
  components: {Btn},
  name: "navbar-component",
  computed: {
    isLoged() {
      return this.$store.getters.isToken;
    },
  },
  methods: {
    logout() {
      localStorage.removeItem("token");
      localStorage.removeItem("user");
    },
    myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.imglogo {
  width: 100px;
}

.container {
  margin-right: 10%;
}
.header {
  display: flex;
  padding: 10px 0px 10px 0px;
}

.menu {
  float: right;
}
li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  padding-top: 14px;
}
.button {
  line-height: 1.8 !important;
}
a {
  color: rgb(255, 78, 78);
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: rgb(156, 39, 39);
}
.logo {
  float: left;
}

.loginregister {
  background: linear-gradient(to right, #d33d231e, #ce345827);
  padding: 7px 15px;
  border-radius: 25px;
}
/* On smaller screens, decrease text size */
@media screen and (max-width: 767px) {
  a {
    font-size: 15px;
  }
  .imglogo {
    text-align: center;
    align-content: center;
  }

  #navbar {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hamburguermenu {
    display: none;
  }
}

/* Menú hamburguesa */

#myLinks {
  margin-bottom: 50px;
}
.hamburguermenu .loginregister {
  width: fit-content;
}
.hamburguermenu .loginregister a:hover {
  background-color: rgba(221, 221, 221, 0);
}

.mobile-container {
  max-width: 100%;
  height: auto;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
}
</style>
