<template>
  <div class="white">
    <div class="right">
      <div class="row d-flex justify-content-center">
        <product class="col"
          v-for="article in articles"
          :key="article.id"
          :article="article"
        ></product>
      </div>
    </div>
  </div>
</template>

<script>
import Product from "./Product.vue";
export default {
  components: { Product },
  props: ["articles"],
  name: "products-component",
  // Creating methods
  data() {
    return {
      filterCategory: "",
      filterTag: ""
    };
  },
  computed: {},
  methods: {
    setFilterCategory(id) {
      this.filterCategory = id
      this.sendCategory()
    },
    setFilterTag(id) {
      this.filterTag = id
      this.sendTag()
    },
     sendCategory() {
        this.$emit("filtercategory", this.filterCategory)
      },
      sendTag() {
        this.$emit("filterTag", this.filterTag)
      }
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.white {
  margin-bottom: 100px;

  display: flex;
}
.left {
  width: 500px;
  margin-top: 10px;
  border-radius: 0px 25px 25px 0px;
  padding: 20px 1% 20px 0%;
}
.right {
  width: 100%;
  padding-right: 4%;
  padding-left: 4%;
}
/* Móvil muy pequeño */
@media screen and (max-width: 459px) {
     .left {
    width: 100%;
  }
  .white {

  display: block;
}
  .right {
      width: 100%;
  }
}

/* Móvil */
@media screen and (min-width: 460px) and (max-width: 767px) {
  .left {
    width: 30%;
  }
  .right {
    width: 70%;
  }
}

</style>
