
<template>
  <div>
    <div class="container firstrow">
      <div class="ocultbig">
        <img
          class="imgSize"
          :src="
            'http://batoipop-back.es/storage/img/' + article.id + '-article.jpg'
          "
          alt=""
        />
      </div>
      <div class="product">
        <h1>{{ article.name }}</h1>
        <h2>{{ article.price }} €</h2>
        <div class="ocultlittle">
          <img
            class="imgSize"
            :src="
              'http://batoipop-back.es/storage/img/' +
              article.id +
              '-article.jpg'
            "
            alt=""
          />
        </div>
        <p class="desc">
          {{ article.description }}
        </p>
        <div class="buttons">
          <button class="add" @click="buyProduct">Comprar</button>
          <button class="like" @click="reportArticle"><span>⚠️</span></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import API from "../API";
export default {
  name: "product-info",
  props: ["article"],
  methods: {
    reportArticle() {
      this.$prompt("Razón del reporte:").then((text) => {
        let json = {
          message: text,
          article_id: this.article.id,
          email: localStorage.user,
        };
        API.reports
          .createArticle(json)
          .then(() => {
            this.$alert("Reporte realizado con exito", "", "success");
          })
          .catch((error) => {
            this.$alert(error.response.data.err, "", "error");
          });
      });
    },
    buyProduct() {
      this.$confirm(
        "Seguro que quiere comprar este articulo?:",
        "",
        "question"
      ).then(() => {
        let json = {
          article_id: this.article.id,
          email: localStorage.user,
        };
        API.articles
          .modify(json)
          .then(() => {
            this.$alert("Su compra ha sido realizada con exito", "", "succes");
            this.$router.push("/");
          })
          .catch((error) => {
            this.$alert(error.response.data.err, "", "error");
          });
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.container {
  height: auto;
  display: flex;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 25px;
  margin-bottom: 50px;
  margin-top: 100px;

  width: 80%;
}

img {
  margin: 50px;

  width: 100%;
}

h2 {
  color: rgb(124, 30, 30);
}
.product {
  margin: 50px;
}
.desc {
  margin-top: 70px;
}
button {
  background: rgb(223, 67, 67);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background: rgb(196, 58, 58);
}

.add {
  width: 85%;
}

.like {
  background: rgb(223, 67, 67);
  width: 15%;
}
.like:hover {
  background: rgb(196, 58, 58);
}
.imgSize {
  width: 168px;
  height: 204px;
  cursor: pointer;
}
.ocultlittle {
  display: none;
}
.ocultbig {
  display: block;
}
/* Responsive muy pequeño */
@media screen and (max-width: 349px) {
  .ocultlittle {
    display: block;
  }
  .ocultbig {
    display: none;
  }
  img {
    margin: 0px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .product {
    margin: 15px;
  }
}

/* Móvil */
@media screen and (min-width: 350px) and (max-width: 767px) {
  .ocultlittle {
    display: block;
  }
  img {
    margin: 0px;
  }
  .product {
    margin: 30px;
  }
  .ocultbig {
    display: none;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .ocultlittle {
    display: block;

    text-align: center;
  }
  img {
    width: 350px;
  }
  .ocultbig {
    display: none;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}
</style>
