<template>
  <div>
    <div class="row">
      <div>
        <div class="product-wrapper mb-45 text-center">
          <div class="product-img">
            <img class="imgSize" :src='"http://batoipop-back.es/storage/img/" + article.id + "-article.jpg"' alt="" />
            <div class="product-action" @click="seeArticle(article.id, article.category_id)">
              <div class="product-action-style">
                <span class="text-center"> {{ article.price }}€</span><br />
                <a class="verproducto">
                  Ver producto >>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "product-compontent",
  props: ['article'],
  methods: {
    seeArticle(id, categroy_id) {
      this.$router.push(`/product-details/category=${categroy_id}/${id}`)
    }
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* No consigo que se apliquen los cambios de .row porque el .row predeterminado de bootstrap lleva los estilos
    
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);

.row{
  margin-right:0px;
}
/* No consigo que se apliquen los cambios de .row porque el .row predeterminado de bootstrap lleva los estilos
    
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);

.row{
  margin-right:0px;
}

*/
.verproducto {
  color: black !important;
  text-decoration: none;
}
.product-wrapper,
.product-img {
  overflow: hidden;
  position: relative;
  height: auto;
  cursor: pointer;
}
.offer {
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}
.mb-45 {
  margin: 10px;
}
p {
  margin-top: -40px;
  font-size: 28px;
}

.product-action {
  bottom: 0px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.6s ease 0s;
}

.product-wrapper {
  border-radius: 8px;
}


.product-action-style {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  display: inline-block;
  padding: 16px 2px 12px;
}

.product-action-style > a {
  color: #979797;
  line-height: 1;
  padding: 0 20px;
  position: relative;
}

.product-wrapper:hover .product-action {
  bottom: 20px;
  opacity: 1;
}
.imgSize {
  width: 268px;
  height: 354px;
  cursor: pointer;
}
</style>
