<template>
  <div>
    <div class="be-img-comment">
      <a>
        <img src="../assets/slider1.jpg" alt="" class="be-ava-comment" />
        <estrellas class="be-comment-valuation" :stars="valuation.valuation"></estrellas>
      </a>
    </div>
    <div class="be-comment-content">
      <span class="be-comment-name">
        <a>{{valuation.buyer_name}}</a>
      </span>
      <span class="be-comment-time">
        <i class="fa fa-clock-o"></i>
        {{valuation.created_at}}
      </span>

      <p class="be-comment-text">
        {{valuation.message}}
      </p>
    </div>
  </div>
</template>

<script>
import Estrellas from './Estrellas.vue';
export default {
  components: { Estrellas },
  name: "valuation",
  props: ["valuation"],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  padding: 50px 70px;
  border: 1px solid #ffffff;
}

.be-comment-valuation {
  font-size: 8px;
}

.comments-title {
  font-size: 18px;
  color: #262626;
  margin-bottom: 15px;
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
  text-align: left;
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  text-align: justify;
  font-size: 13px;
  line-height: 18px;
  color: #424242;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
}
</style>