<template>
  <div>
    <navbar></navbar>
<router-view/>
    <MiFooter></MiFooter>
  </div>
</template>

<script>
import MiFooter from "./components/MiFooter.vue";
import Navbar from "./components/Navbar.vue";
export default {
  name: "app",
  components: {
    MiFooter,
    Navbar,
  },
  mounted() {
    if(localStorage.token) {
      this.$store.commit('setUser', {token: localStorage.token , email: localStorage.user})
    } else {
      this.$router.push('/login')
    }
    this.$store.dispatch('loadCategories')
    this.$store.dispatch('loadTags')
  },
};
</script>

<style>
body{
  font-size: 16px !important;
}
p{
  font-size: 16px !important;
}
</style>
